@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700;900&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Cinzel', serif;
  
  --color-gold: #DDBD68;
  --color-gold-hover: #F2D588;
  --color-dark: #0A0A0A;
  --color-dark-paper: #111111;
  --color-dark-paper-light: #1A1A1A;
}

body {
  margin: 0;
  background-color: var(--color-dark);
  color: white;
  min-height: 100vh;
}
