.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
